cmake<4.3
importlib_metadata
kenning[anomaly_detection,iree,tvm,tensorflow,tflite,reports,renode,uart,sklearn,emlearn,auto_pytorch] @ git+https://github.com/antmicro/kenning.git
pyelftools
pyserial
pytest
pytest-reportlog
west
