# Copyright (c) 2023-2024 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config KENNING_INFERENCE_LIB
        bool "kenning_inference_lib Support"
        help
          This option enables the kenning_inference_lib library

config NRF_UART_SLEEP_AFTER_POLL_WORKAROUND
        bool "workaround for UART reading on NRF"
        depends on KENNING_INFERENCE_LIB
        default 0
        help
          This option adds 1 tick sleep after uart_poll_in. This is a temporary
          solution for UART missing some data when reading.

config PROTOCOL
        string "Protocol to be used to communicate with Kenning"
        depends on KENNING_INFERENCE_LIB
        default "uart"
        help
          This options selects protocol which will be used to communicate with
          Kenning
          Available options: uart

config ML_RUNTIME
        string "ML runtime to be used"
        depends on KENNING_INFERENCE_LIB
        default "stub"
        help
          This option select ML runtime to be used.
		  Available options: stub, tvm, tflite

config TVM_MODEL
        string "Model loaded by TVM"
        default "magic_wand"
        help
          This option select the ML model to be loaded by TVM runtime.
          Available options: magic_wand

config TVM_HEAP_SIZE
        int "Size in kilobytes of the heap used by TVM"
        default 128
        help
          This option sets the size in kilobytes of the heap used by TVM.

module = CALLBACKS
module-str = callbacks
source "subsys/logging/Kconfig.template.log_config"

module = INFERENCE_SERVER
module-str = inference_server
source "subsys/logging/Kconfig.template.log_config"

module = KENNING_PROTOCOL
module-str = kenning_protocol
source "subsys/logging/Kconfig.template.log_config"

module = MODEL
module-str = model
source "subsys/logging/Kconfig.template.log_config"

module = RUNTIME_WRAPPER
module-str = runtime_wrapper
source "subsys/logging/Kconfig.template.log_config"

module = UART
module-str = uart
source "subsys/logging/Kconfig.template.log_config"
