name: Kenning Zephyr runtime tests

on:
    push:
        branches: [main, stable]
    pull_request:
        branches: [main, stable]

jobs:
    readme-tests:
        runs-on: ubuntu-latest
        container:
            image: debian:bookworm
        steps:
            - name: Checkout sources
              uses: actions/checkout@v4
            - name: Increase disk space
              run: |
                rm -rf /__t/CodeQL
                rm -rf /__t/Java_Temurin-Hotspot_jdk
                rm -rf /__t/Java_Temurin-Hotspot_jdk
                rm -rf /__t/PyPy
                rm -rf /__t/Python/3.10.*
                rm -rf /__t/Python/3.11.*
                rm -rf /__t/Python/3.9.*
                rm -rf /__t/Python/3.8.*
                rm -rf /__t/Python/3.7.*
                rm -rf /__t/Ruby
                rm -rf /__t/go
                rm -rf /__t/node
            - name: Install tuttest dependencies
              run: |
                  apt-get update -qqy
                  apt-get install -qqy --no-install-recommends python3 python3-pip git colorized-logs sudo fonts-lato
                  sudo pip3 install --break-system-packages git+https://github.com/antmicro/tuttest.git
            - name: Run README.md snippets
              run: |
                  ./scripts/test_readme.sh
